* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Serif';
    color: #112D55;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:10px;
}

.body-clone {
    height: 99vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:10px;
}

header, footer{
    width: 100%;
    display: flex;
    align-items: center;
    height: 66px;
    padding: 15px;
}
header{
    background-color: #5CABFF;
    justify-content: space-between;
}
header img{
    width: 50px;
    height: 50px;
}
footer{
    background-color: #465362;
    justify-content: center;
}
footer p{
    color: white;
}

main{
    width: 70%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}
.center{
    display: flex;
    align-items: center;
    height: 100vh;
}

/* .background {
    background: url(squares.jpg);
    background-repeat: repeat;
    background-size: 250px;
} */

.background img {
    position: sticky;
    top:0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.photo{
    height: 77vh;
}
.photo_img{
    position: absolute;
    width: 25%;
    right: 17%;
    top: 8%;
}
.photo_img img{
    width: 100%;
}


form{
    width: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.4);
}

button{
    background-color: white;
    font-size: 16px;
    border-radius: 10px;
    border:0;
    padding:10px 20px;
    box-shadow: 0 4px 15px rgba(17, 45, 85, 0.3);
}
button:hover{
    background-color: #f6f7ff;
}
button:active{
    box-shadow: inset 0 4px 10px rgba(17, 45, 85, 0.1);
}
.blueBtn, .noBooked {
    background-color: #5CABFF;
}
.blueBtn:hover, .noBooked:hover {
    background-color:#4d9ef4;
}
.blueBtn:active, .noBooked:active {
    background-color: #5CABFF;
    box-shadow: inset 0 4px 15px rgba(17, 45, 85, 0.3);
}
.greenBtn {
    background-color: #65DD6C;
}
.greenBtn:hover {
    background-color:#55d35d;
}
.greenBtn:active {
    background-color: #65DD6C;
    box-shadow: inset 0 4px 15px rgba(17, 45, 85, 0.3);
}
.redBtn {
    background-color: #FF5C5F;
}
.redBtn:hover {
    background-color:#f74f51;
}
.redBtn:active {
    background-color: #FF5C5F;
    box-shadow: inset 0 4px 15px rgba(17, 45, 85, 0.3);
}
.darkBlueBtn, .activeRoom, .chosen{
    background-color: #112D55;
    color: white;
}
.darkBlueBtn:hover, .activeRoom:hover, .chosen:hover {
    background-color:#0a2141;
}
.darkBlueBtn:active {
    background-color: #112D55;
    box-shadow: inset 0 4px 15px rgba(0, 0, 0, 0.5);
}


input{
    border-radius: 5px;
    padding: 5px;
    border: 0;
    box-shadow: 0 4px 15px rgba(17, 45, 85, 0.2);
}
input:focus, input:active {
    outline: none;
    box-shadow: 2px 2px 15px rgba(17, 45, 85, 0.8);
}
.tgInput{
    width: 120px;
}

.closed {
    display: none;
}
.warning {
    color:red;
    text-decoration: underline;
}
.row, .row_pr,.rowCenter{
    display: flex;
    flex-direction: row;
    gap:20px;
}
.rowCenter{
    align-items: center;
}
.row_pr{
    justify-content: space-between;
    width: 500px;
}
.row{
    justify-content: center;
    width: 60%;
}
.left, .right, .leftInd, .rightInd{
    display:flex;
    flex-direction: column;
    margin: 30px 0;
}
.left, .leftInd{
    position: sticky;
    top: 80px;
    gap:16px;
}
.left{
    width: 45%;
    align-items: center;
    text-align:center;
}
.leftInd{
    width: 255px;
}
.left img{
    width: 70%;
    image-rendering: crisp-edges;
}
.left button{
    width: 80%;
}
.right{
    gap: 10px;
    width: 45%;
}
.rightInd{
    justify-content: space-between;
    gap:10px;
    width: 200px;
    height: 250px;
}
.meetings p{
    margin: 5px 0;
    font-size: 18px;
}
.meetings {
    display: flex;
    flex-direction: column;
    align-items: center;
}


a:hover{
    color:rgb(7, 0, 32);
}
.menu{
    display: flex;
    justify-content: space-between;
    width: 270px;
}
.rightHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;
    width: 150px;
}





#roomsSchema{
    background-color: rgb(233, 233, 233);
    border-radius: 15px;
    padding: 15px;
    width: 255px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(14, 1fr);
    gap:5px;
}
.room1{
    grid-column: 10 / 12;
    grid-row: 12 / 15;
}
.room2{
    grid-column: 7 / 10;
    grid-row: 13 / 15;
}
.room3{
    grid-column: 4 / 7;
    grid-row: 13 / 15;
}
.room4{
    grid-column: 1 / 4;
    grid-row: 13 / 15;
}
.room5{
    grid-column: 1 / 3;
    grid-row: 10 / 13;
}
.room6{
    grid-column: 1 / 3;
    grid-row: 7 / 10;
}
.room7{
    grid-column: 1 / 3;
    grid-row: 4 / 7;
}
.room8{
    grid-column: 1 / 3;
    grid-row: 1 / 4;
}
.room9{
    grid-column: 3 / 6;
    grid-row: 1 / 3;
}
.room10{
    grid-column: 6 / 9;
    grid-row: 1 / 3;
}
.room11{
    grid-column: 9 / 12;
    grid-row: 1 / 3;
}
.room12{
    grid-column: 10 / 12;
    grid-row: 3 / 6;
}
.room13{
    grid-column: 10 / 12;
    grid-row: 6 / 9;
}
#roomsSchema button{
    padding: 0;
    border-radius: 5px;
}
.blockRoom, .blockRoom:hover {
    box-shadow: none;
    background-color: #fafafa;
}


.booked, .noBooked{
    width: 60px;
    padding: 10px;
}
.booked{
    background-color: rgb(225, 225, 225);
    box-shadow: none;
}
.booked:hover{
    background: rgb(220, 220, 220);
}
#times{
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    gap:10px;
}

.bookButtons{
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: center;
    gap:10px;
}
.bookButtons button{
    width: 200px;
}


.open{
    display: block;
    position: fixed;   
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(196, 196, 196, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.changePopup {
    position: sticky;
    top: 30px;
    left: 10px;
    width: 580px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white;
    border-radius: 15px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.4);
    padding: 30px;
    z-index: 9999;
}
.rowBtn, .rowIn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.roomImg{
    width: 30%;
    margin: 50px;
}
.roomImg img{
    width: 330px;
    height: fit-content;
}



@media screen and (max-width: 768px){
    main{
        flex-direction: column-reverse;
        align-items: center;
    }
    .row{
        width: 100%;
    }
    .roomImg{
        width: 330px;
        margin: 10px 0;
    }
}